<div id="orbit-container">
  <div class="overflow-cheat left"></div>
  <div class="overflow-cheat right"></div>

  <div class="orbit">
    {% for i in (1..30) %}
      {% assign use_key = i | prepend: 'use-orbit-' %}
      {% assign link_key = i | prepend: 'orbit-' | append: '-link' %}
      {% assign id_name = i | prepend: 'slide' %}
      {% assign image_name = id_name | append: '.jpg' %}
      {% if settings[use_key] %}
        <div id="{{ id_name }}" {{ use_key }} {{ image_name }} {{ link_key }}>
          {% unless settings[link_key] == blank %}<a href="{{ settings[link_key] }}">{% endunless %}
              <img src="{{ image_name | asset_url }}" />
          {% unless settings[link_key] == blank %}</a>{% endunless %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
